
/build/*
!/build/.gitkeep

/stock_firmware/*
!/stock_firmware/README.md

/stock_firmware/common/*
!/stock_firmware/common/README.md

/sysroot/*
!/sysroot/.gitkeep

/out

# The following files are ignored because they need some cleanup
REQUIRED_PACKAGES
INIT_SUBMODULES.md
